html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 15px;
    background-color: #fafafa;
}
header {
    background-color: #333;
}
.navbar-inverse .navbar-nav > li > a{
    color:white !important;
}
.navbar-inverse .navbar-brand{
    color:white !important;
}
.top_menu{
    background-color: #333 !important;
}
.footer p.pull-left {
    color: white;
}
.block_news {
    width: 100%;
    height: auto;
    position: relative;
}
.blog-news {
    height: 100px;
    overflow-y: hidden;
    margin-bottom: 20px;
    border: 1px solid black;
}
.blog-news-name,.blog-news-decription,.blog-news-image, .blog-news-data,.blog-news-keywords {
    border-right: 1px solid black;
    height: 100px;
    overflow: hidden;
}
.pagination_blog {
    float: right;
}
a.btn.btn-primary.btn-sm.create_post {
    margin-bottom: 10px;
    float: left;
}
.blog-news-edit img {
    margin-top: 20px;
}
