html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 15px;
    background-color: #fafafa;
}
header {
    background-color: #333;
}
.navbar-inverse .navbar-nav > li > a{
    color:white !important;
}
.navbar-inverse .navbar-brand{
    color:white !important;
}
.top_menu{
    background-color: #333 !important;
}
.footer p.pull-left {
    color: white;
}
.block_news {
    width: 100%;
    height: auto;
    position: relative;
}
.blog-news {
    height: 100px;
    overflow-y: hidden;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
}
.blog-news-name,.blog-news-decription,.blog-news-image, .blog-news-data,.blog-news-keywords {
    border-right: 1px solid black;
    height: 100px;
    overflow: hidden;
}
.pagination_blog {
    float: right;
}
a.btn.btn-primary.btn-sm.create_post {
    margin-bottom: 10px;
    float: left;
}
.blog-news-edit {
    position: relative;
}
button.btn.btn-primary.save_button {
    float: right;
    right: 35%;
    position: relative;
}
.get_name_post {
    text-align: center;
    margin-bottom: 50px;
}
a.btn.btn-primary.btn-sm.delete_post {
    margin-bottom: 50px;
}
button.btn.btn-primary.delete_button {
    float: right;
    right: 20%;
    position: relative;
}
.get_name_post p {
    font-size: 20px;
}
.button_create {
    position: absolute;
    top: 15px;
}
.button_del {
    position: absolute;
    top: 50px;
    cursor: pointer;
}
