html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 15px;
    background-color: #fafafa;
}
header {
    background-color: #333;
}
.top_menu a{
    color:white !important;
}
.top_menu{
    background-color: #333 !important;
}
.footer p.pull-left {
    color: white;
}
#yii-debug-toolbar{
    display: none !important;
}
.top_info p {
    font-size: 20px;
    margin-left: 50px;
}
.top_info {
    text-shadow: 2px 2px 0 #ccc;
    border-bottom: 1px solid #e5e5e5;
}
.news_module {
    position: relative;
    display: block;
    width: 100%;
}
.news_project {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    word-break: break-word;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.news_name {
    display: inline;
    color: #008cba;
    cursor: default;
}
.news_decription {
    font-size: 15px;
    border-top-width: 1px;
    margin: 8px 0;
    padding: 8px 0 16px;
    border-top: 1px solid #ddd;
    height: 200px;
    overflow: hidden;
    white-space: normal;
}
.data {
    text-align: right;
    color: #aaa;
    font: normal normal normal 14px/1 FontAwesome;
}